/add.c
/array.c
/array.exe
/coursera
/coursera.c
/coursera.exe
/cust.c
/cust.exe
/ganesh.c
/lec.c
/lec.exe
/new.txt
/prblm3.c
/Records.txt
/settings.json
/smoke.css
/smoke.mp4
/task4.c
/task4.exe
/tempCodeRunnerFile.c
/tushar.c
/tushar.exe
/tushar.html
/week 5.c
/week1.c
/week1.exe
/week2.c
/week3.c
/whole.c